.place-card__like-icon {
  background: url(../../../images/like-icon.png) center no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
  margin-bottom: 3px;
  position: absolute;
  right: 22px;
  bottom: 9.89px;
  /* 12.89 */
}

.place-card__like-icon_liked {
  background-image: url(../../../images/like-active.svg);
}

.place-card__like-icon:hover {
  transform: scale(1.03);
}

.place-card__cart-icon {
  background: url(../../../images/cart.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
  margin-bottom: 3px;
  position: absolute;
  /* right: 69px;
  bottom: 12.89px; */
  right: 67px;
  bottom: 10.89px;
}

.place-card__cart-icon_selected {
  background: url(../../../images/check-mark.png) center no-repeat;
}

.place-card__code {
  font-family: 'SFUIText400';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #888888;
  margin: 0 0 6px;
}

.place-card__price-container {
  display: flex;
  margin: 0 0 8px;
}

.place-card__price.place-card__price_old {
  text-decoration-line: line-through;
  color: #888888;
  margin-right: 9px;
  display: none;
}

.place-card__price.place-card__price_old.place-card__price_old-visible {
  display: block;
}

.place-card__price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 140%; */
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}