.header {
  min-height: 16px;
  margin: 32px auto 32px;
  display: flex;
  /* width: 80%; */
  font-family: 'SFUIText400';
}

.header a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #828282;
}

.header__link-divider {
  margin-left: 11px;
  margin-right: 15px;
}

@media screen and (min-width: 1920px) {
  .header {
    width: calc(100% - 2*216px);
  }
}