.root__section {
  /*3fr*/
  width: 1104px;
  margin: auto;
}

@media screen and (max-width: 1180px) {
  /*2fr*/
  .root__section {
    width: 720px;
    margin: auto;
  }
}

@media screen and (max-width: 755px) {
  /*1fr*/
  .root__section {
    width: 80%;
    margin: auto;
    /* width: ; */
  }
}

@media screen and (min-width: 1920px) {
  .root__section {
    width: calc(100% - 2*216px);
  }
}