@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/button_disabled.css);
@import url(../blocks/places-list/places-list.css);
@import url(../blocks/place-card/place-card.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/input/__error.css);
body {}

.categoty {
    width: 80%;
}

.category__title {
    font-family: 'SFProDisplay600';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #000;
    margin: 0 0 32px;
}

.sorting-filtering-row {
    display: flex;
    margin: 0 auto 41px;
}

.form__label {
    display: flex;
    flex-direction: column;
    font-family: 'SFProDisplay400';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #4F4F4F;
}

.form__label_text {
    margin-left: 16px;
}

.form__label:first-of-type {
    margin-right: 24px;
}

.form__item {
    font-family: 'SFProDisplay400';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000;
    height: 40px;
    width: 288px;
    background: #F2F2F2 url(../images/arrow.svg) no-repeat;
    background-position: right 19px top 50%;
    padding: 9px 16px 10px;
    margin-top: 6px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

body {
    /*width: 1920px;*/
    min-width: 320px;
    /*  выше установлена минимальная ширина страницы */
    max-width: 1920px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
}